


    {% extends 'store/base.html' %}
    {% load static %}
    {% block content %}





    <!-- Blog section -->
    <section class="gi-blog py-[40px] max-[767px]:py-[30px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px] relative">
            <div class="flex flex-wrap w-full px-[12px]">
                <div class="gi-blogs-rightside w-full">
                    <!-- Blog content Start -->
                    <div class="gi-blogs-content">
                        <div class="gi-blogs-inner">
                            <div class="flex flex-wrap mx-[-12px]">
                                {% for b in blogs %}
                                    <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                        <div class="gi-blog-item">
                                            <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                                <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                    <a href="{% url "blog_details" b.id %}"><img src="{{ b.image.url }}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                                </figure>
                                                <div class="detail">
                                                    <label class="mt-[20px] inline-block text-[13px] text-[#999]">{{ b.date }} - <a href="{% url "blog_details" b.id %}" class="text-[#999] hover:text-[#5caf90]">{{ b.category.name }}</a></label>
                                                    <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="{% url "blog_details" b.id %}" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">{{ b.title }}</a></h3>
                                                    <p class="text-length mb-[16px] text-[14px] text-[#777]">{{ b.short_description|safe }}</p>
                                                    <div class="more-info">
                                                        <a href="{% url "blog_details" b.id %}" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% comment %} <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/2.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">April 02,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fruits</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Best way to solve business deal issue.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/3.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">Mar 09,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">31 customer service stats know in 2019.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/4.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">January 25,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fastfood</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Business ideas to grow your business.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/5.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">December 10,2021 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fruits</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Marketing Guide: 5 Steps to Success.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/6.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">August 08,2021 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">31 customer service stats know in 2019.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/2.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">April 02,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fruits</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Best way to solve business deal issue.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/3.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">Mar 09,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">31 customer service stats know in 2019.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/4.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">January 25,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fastfood</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Business ideas to grow your business.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <!-- Pagination Start -->
                        <div class="gi-pro-pagination pt-[15px] flex justify-between items-center border-t-[1px] border-solid border-[#eee] max-[575px]:flex-col">
                            <span class="text-[14px] text-[#777] max-[575px]:mb-[10px]">Showing 1-6 of 20 items</span>
                            <ul class="gi-pro-pagination-inner">
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff] active" href="#">1</a>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">2</a>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">3</a>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <span class="w-[20px] text-[#777] block text-center">...</span>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">8</a>
                                </li>
                                <li class="inline-block float-left">
                                    <a class="next w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">Next <i class="gicon gi-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Pagination End -->
                    </div>
                    <!--Blog content End -->
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section End -->

    
    {% endblock content %}