{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<!-- Shop section -->
<section class="gi-shop py-[40px] max-[767px]:py-[30px]">
    <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">

        <div class="flex flex-wrap w-full">
            <div class="gi-shop-rightside min-[992px]:order-[6] min-[768px]:order-[-1] min-[992px]:w-[75%] min-[768px]:w-full w-full px-[12px]">
                <!-- Shop Top Start -->
                <div class="gi-pro-list-top flex items-center justify-between text-[14px] border-[1px] border-solid border-[#eee] rounded-[5px] mb-[30px]">
                    <div class="min-[768px]:w-[50%] w-full gi-grid-list">
                        <div class="gi-gl-btn ml-[5px] flex items-center flex-row">
                            <button type="button" class="grid-btn btn-grid-50 h-[40px] w-[40px] border-[0] rounded-[0] flex items-center justify-center flex-row active">
                                <i class="fi fi-rr-apps text-[20px] text-[#4b5966] leading-[0]"></i>
                            </button>
                            <button type="button" class="grid-btn btn-list-50 h-[40px] w-[40px] border-[0] rounded-[0] flex items-center justify-center flex-row">
                                <i class="fi fi-rr-list text-[20px] text-[#4b5966] leading-[0]"></i>
                            </button>
                        </div>
                    </div>
                    <div class="min-[768px]:w-[50%] w-full gi-sort-select flex justify-end items-center">
                        <div class="gi-select-inner relative flex w-[140px] h-[50px] leading-[1.5] bg-[#fff] overflow-hidden rounded-[0] border-l-[1px] border-solid border-[#eee]">
                            <select name="sort-by" id="gi-select" class="appearance-none outline-[0] border-[0] bg-[#fff] grow-[1] px-[10px] text-[#777] cursor-pointer">
                                <option selected disabled>Sort by</option>
                                <option value="title">Name, A to Z</option>
                                <option value="-title">Name, Z to A</option>
                                <option value="-price">Price, low to high</option>
                                <option value="price">Price, high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Shop Top End -->

                <!-- Select Bar Start -->
                {% if category %}
                <div class="gi-select-bar mt-[-5px] mx-[-5px] mb-[25px] flex flex-wrap justify-end ">
                    {% if size %}
                        <span class="gi-select-btn m-[5px] px-[10px] border-[1px] border-solid border-[#eee] rounded-[5px] text-[#777] text-[14px] flex items-center capitalize">{{ size.name }}
                            <a class="gi-select-cancel ml-[15px] text-[#ff8585] text-[18px] transition-all duration-[0.3s] ease-in-out" href="{% url 'product_category_page' category.id %}?size_id=&color_id={{ color.id }}">×</a>
                        </span>
                    {% endif %}
                    {% if color %}
                        <span class="gi-select-btn m-[5px] px-[10px] border-[1px] border-solid border-[#eee] rounded-[5px] text-[#777] text-[14px] flex items-center capitalize">{{ color.name }}
                            <a class="gi-select-cancel ml-[15px] text-[#ff8585] text-[18px] transition-all duration-[0.3s] ease-in-out" href="{% url 'product_category_page' category.id %}?size_id={{ size.id }}&color_id=">×</a>
                        </span>  
                    {% endif %}
                    {% if size or color %}
                    <span class="gi-select-btn gi-select-btn-clear m-[5px] p-[0] border-[1px] border-solid border-[#eee] rounded-[5px] text-[#777] text-[14px] flex items-center capitalize">
                        <a class="gi-select-clear transition-all duration-[0.3s] ease-in-out h-full m-[0] py-[3px] px-[10px] text-[14px] flex items-center bg-[#4b5966] text-[#fff] rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="{% url 'product_category_page' category.id %}">Clear All</a>
                    </span>
                    {% endif %}
                        
                </div>
                {% endif %}
                <!-- Select Bar End -->
                <!-- Shop content Start -->
                <div class="shop-pro-content">
                    <div class="shop-pro-inner mx-[-12px]">
                        <div class="flex flex-wrap w-full">
                            {% for i in query %}
                                <div class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] min-[576px]:w-[50%] max-[420px]:w-full px-[12px] gi-product-box max-[575px]:w-[50%] max-[575px]:mx-auto pro-gl-content">
                                    <div class="gi-product-content pb-[24px] h-full flex">
                                        <div class="gi-product-inner transition-all duration-[0.3s] ease-in-out cursor-pointer flex flex-col overflow-hidden border-[1px] border-solid border-[#eee] rounded-[5px]">
                                            <div class="gi-pro-image-outer transition-all duration-[0.3s] ease delay-[0s] z-[11] relative">
                                                <div class="gi-pro-image overflow-hidden">
                                                    <a href="{% url 'product_details' i.id %}" class="image relative block overflow-hidden transition-all duration-[0.3s] ease-in-out">
                                                        <span class="label veg max-[991px]:hidden">
                                                            <span class="dot"></span>
                                                        </span>
                                                        {% if i.image %}
                                                            <img class="main-image max-w-full z-[1] transition-all duration-[0.3s] ease delay-[0s]" src="{{ i.image.url }}" alt="Product">
                                                        {% endif %}
                                                        {% if i.hover_image %}
                                                            <img class="hover-image absolute z-[2] top-[0] left-[0] opacity-[0] max-w-full transition-all duration-[0.3s] ease delay-[0s]" src="{{ i.hover_image.url }}" alt="Product">
                                                        {% endif %}
                                                    </a>
                                                    <span class="flags flex flex-col p-[0] uppercase absolute top-[10px] right-[10px] z-[2]">
                                                        <span class="sale py-[5px] px-[10px] text-[11px] font-medium leading-[12px] text-left uppercase flex items-center bg-[#ff7070] text-[#fff] tracking-[0.5px] relative rounded-[5px]">Sale</span>
                                                    </span>
                                                    <div class="gi-pro-actions transition-all duration-[0.3s] ease-in-out absolute z-[9] left-[0] right-[0] bottom-[-10px] max-[991px]:opacity-[1] max-[991px]:bottom-[10px] flex flex-row items-center justify-center my-[0] mx-auto opacity-[0]">
                                                        <a class="gi-btn-group wishlist transition-all duration-[0.3s] ease-in-out w-[30px] h-[30px] mx-[2px] flex items-center justify-center text-[#fff] bg-[#fff] border-[1px] border-solid border-[#eee] rounded-[5px] hover:bg-[#5caf90]" title="Wishlist">
                                                            <i class="fi-rr-heart transition-all duration-[0.3s] ease-in-out text-[#777] leading-[10px]"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" class="gi-btn-group modal-toggle quickview transition-all duration-[0.3s] ease-in-out w-[30px] h-[30px] mx-[2px] flex items-center justify-center text-[#fff] bg-[#fff] border-[1px] border-solid border-[#eee] rounded-[5px] hover:bg-[#5caf90]">
                                                            <i class="fi-rr-eye transition-all duration-[0.3s] ease-in-out text-[#777] leading-[10px]"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" class="gi-btn-group compare transition-all duration-[0.3s] ease-in-out w-[30px] h-[30px] mx-[2px] flex items-center justify-center text-[#fff] bg-[#fff] border-[1px] border-solid border-[#eee] rounded-[5px] hover:bg-[#5caf90]" title="Compare">
                                                            <i class="fi fi-rr-arrows-repeat transition-all duration-[0.3s] ease-in-out text-[#777] leading-[10px]"></i>
                                                        </a>

                                                        <form action="{% url 'add_to_cart' %}" method="post">
                                                            {% csrf_token %}
                                                                <input type="hidden" name="product_id" id="" value="{{ i.id }}">
                                                                <input type="hidden" name="quantity" id="" value="1">
                                                                <input type="hidden" name="index" id="" value="True">
                                                                <button type="submit" title="Add To Cart" class="gi-btn-group add-to-cart transition-all duration-[0.3s] ease-in-out w-[30px] h-[30px] mx-[2px] flex items-center justify-center text-[#fff] bg-[#fff] border-[1px] border-solid border-[#eee] rounded-[5px] hover:bg-[#5caf90]">
                                                                    <i class="fi-rr-shopping-basket transition-all duration-[0.3s] ease-in-out text-[#777] leading-[10px]"></i>
                                                                </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gi-pro-content h-full p-[20px] relative z-[10] flex flex-col text-left border-t-[1px] border-solid border-[#eee]">
                                                <a href="{% url 'product_category_page' i.category.id %}">
                                                    <h6 class="gi-pro-stitle mb-[10px] font-normal text-[#999] text-[13px] capitalize font-manrope tracking-[0.01rem] leading-[1.2]">{{ i.category.name }}</h6>
                                                </a>
                                                <h5 class="gi-pro-title h-full mb-[10px] text-[16px] tracking-[0.01rem] font-normal leading-[1.2]">
                                                    <a href="{% url 'product_details' i.id %}" class="text-[#4b5966] block text-[14px] leading-[22px] font-normal tracking-[0.85px] capitalize font-Poppins">{{ i.title }} </a>
                                                </h5>
                                                <p class="gi-info text-[15px] leading-[28px] font-light tracking-[0.02rem] mb-[16px] hidden">{{ i.short_description|safe }}</p>
                                                <div class="gi-pro-rat-price mt-[5px] mb-[0] flex flex-col">
                                                    {% comment %} <span class="gi-pro-rating mb-[10px] opacity-[0.7] relative">
                                                        <i class="gicon gi-star fill inline-block text-[#f27d0c] float-left text-[14px] mr-[3px]"></i>
                                                        <i class="gicon gi-star fill inline-block text-[#f27d0c] float-left text-[14px] mr-[3px]"></i>
                                                        <i class="gicon gi-star fill inline-block text-[#f27d0c] float-left text-[14px] mr-[3px]"></i>
                                                        <i class="gicon gi-star inline-block text-[#777] float-left text-[14px] mr-[3px]"></i>
                                                        <i class="gicon gi-star inline-block text-[#777] float-left text-[14px] mr-[3px]"></i>
                                                    </span> {% endcomment %}
                                                    <span class="gi-price text-[18px] flex items-center justify-left text-[#4b5966] tracking-[0.4px]">
                                                        
                                                        {% if i.discount_price %}
                                                            <span class="new-price text-[#4b5966] font-bold text-[14px] mr-[7px] tracking-[0.02rem]">${{ i.discount_price }}</span>
                                                            <span class="old-price text-[14px] text-[#777] tracking-[0.02rem] line-through">${{ i.price }}</span>
                                                        {% else %}
                                                        <span class="new-price text-[#4b5966] font-bold text-[14px] mr-[7px] tracking-[0.02rem]">${{ i.price }}</span>
                                                        {% endif %}
                                                            
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Pagination Start -->
                    <div class="pagination gi-pro-pagination pt-[15px] flex justify-between items-center border-t-[1px] border-solid border-[#eee] max-[575px]:flex-col">
                        <!-- <span class="text-[14px] text-[#777] max-[575px]:mb-[10px]">Showing {{ query.number }} of {{ query.paginator.num_pages }} Result(s)</span> -->
                        <ul class="step-links gi-pro-pagination-inner">
                            {% if query.has_previous %}
                                <li class="inline-block float-left"><a class="next w-auto px-[13px] text-[#fff] bg-[#5caf90] leading-[30px] h-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px]" href="?page={{ query.previous_page_number }}"><i class="gicon gi-angle-left mr-[10px] transition-all duration-[0.3s] ease-in-out text-[#fff]"></i> previous</a></li>
                            {% endif %}
                            <li class="inline-block float-left w-auto px-[13px] text-[#fff] bg-[#5caf90] leading-[30px] h-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px]">
                                <span class="text-[14px] text-[#777] max-[575px]:mb-[10px]">Showing {{ query.number }} of {{ query.paginator.num_pages }} Result(s)</span>
                            </li>
                            {% if query.has_next %}
                                <li class="inline-block float-left"><a class="next w-auto px-[13px] text-[#fff] bg-[#5caf90] leading-[30px] h-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px]" href="?page={{ query.next_page_number }}">Next <i class="gicon gi-angle-right ml-[10px] transition-all duration-[0.3s] ease-in-out text-[#fff]"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- Pagination End -->
                </div>
                <!--Shop content End -->
            </div>
            <!-- Sidebar Area Start -->
            <div class="gi-shop-sidebar sticky top-[24px] min-[992px]:order-[-1] min-[768px]:order-[6] min-[992px]:w-[25%] min-[768px]:w-full w-full max-[991px]:mt-[30px] px-[12px]">
                <div id="shop_sidebar">
                    <div class="gi-sidebar-wrap p-[15px] rounded-[5px] border-[1px] border-solid border-[#eee]">
                    <form action="" method="get">
                        <div class="">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                        <!-- Sidebar Category Block -->
                        <div class="gi-sidebar-block mb-[15px]">
                            <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
                                <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Category</h3>
                            </div>
                            <div class="gi-sb-block-content mt-[15px]">
                                <ul class=" border-b border-slate-200 p-2">
                                    <li>
                                        <div class="gi-sidebar-block-item py-[5px] relative flex flex-row">
                                            {% comment %} <a href="{% url 'product_page' %}" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]"> {% endcomment %}
                                                <input type="radio" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" {% if not category %}checked{% endif %}> 
                                                <span class="flex">All</span>
                                                {% comment %} <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span> {% endcomment %}
                                            </a>
                                        </div>
                                    </li>
                                    {% for c in categories %}
                                        {% if c.parent %}
                                        <li>
                                            <div class="gi-sidebar-block-item py-[5px] relative flex flex-row">
                                                <a href="{% url 'product_category_page' c.id %}" class="w-full text-[#777] text-[16px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[3px]">
                                                    <span class="flex {% if category.id == c.id %}text-red-700{% endif %}">{{ c.name }}</span>
                                                </a>
                                            </div>
                                        </li>
                                        {% else %}
                                        <li>
                                            <div class="gi-sidebar-block-item py-[5px] relative flex flex-row gi-sidebar-title font-semibold tracking-[{{c.id}}] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.{{c.id}}]">
                                                <a href="{% url 'product_category_page' c.id %}" class="w-full text-[#777] text-[16px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[3px]">
                                                    <span class="flex {% if category.id == c.id %}text-red-700{% endif %}">{{ c.name }}</span>
                                                </a>
                                            </div>
                                        </li>
                                        {% endif %}
                                        
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Size Block -->
                        <div class="gi-sidebar-block mb-[15px]">
                            <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
                                <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Size</h3>
                            </div>
                            <div class="gi-sb-block-content mt-[15px]">
                                <ul class="h-52 overflow-y-scroll overflow-x-hidden border-b border-slate-200 p-2">
                                    {% for s in sizes %}
                                    <li>
                                        <div class="gi-sidebar-block-item py-[5px] relative flex flex-row">
                                            <input type="radio" name="size_id" value="{{ s.id }}" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" {% if size.id == s.id %}checked{% endif %}>
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">{{ s.name }}</a>
                                            <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Color Block -->
                        <div class="gi-sidebar-block mb-[15px]">
                            <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
                                <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Color</h3>
                            </div>
                            <div class="gi-sb-block-content mt-[15px]">
                                <ul class="h-52 overflow-y-scroll overflow-x-hidden border-b border-slate-200 p-2">
                                    {% for c in colors %}
                                    <li>
                                        <div class="gi-sidebar-block-item py-[5px] relative flex flex-row">
                                            <input type="radio" name="color_id" value="{{ c.id }}" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" {% if color.id == c.id %}checked{% endif %}>
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">{{ c.name }}</a>
                                            <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Price Block -->
                        <div class="gi-sidebar-block mb-[15px]">
                            <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
                                <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Price</h3>
                            </div>
                            <div class="gi-sb-block-content gi-price-range-slider es-price-slider mt-[20px]">
                                <div class="gi-price-filter flex justify-between flex-col">
                                    <div class="gi-price-input mb-[15px] p-[10px] flex justify-center items-center rounded-[5px] bg-[#f8f8fb]">
                                        <label class="filter__label text-[14px] text-[#777] flex flex-col justify-center items-center">
                                            From
                                            <input type="text" class="filter__input rounded-[5px] h-[30px] border-[0] p-[0] max-w-[48px] leading-[30px] bg-[#fff] text-center text-[14px] text-[#777] outline-[0]">
                                        </label>
                                        <span class="gi-price-divider relative border-b-[1px] border-solid border-[#777] w-[10px] h-[1px] mx-[10px]"></span>
                                        <label class="filter__label text-[14px] text-[#777] flex flex-col justify-center items-center">
                                            To<input type="text" class="filter__input rounded-[5px] h-[30px] border-[0] p-[0] max-w-[48px] leading-[30px] bg-[#fff] text-center text-[14px] text-[#777] outline-[0]">
                                        </label>
                                    </div>
                                    <div id="gi-sliderPrice" class="filter__slider-price" data-min="0" data-max="250" data-step="10"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop section End -->




{% endblock content %}