
    {% extends 'store/base.html' %}
    {% load static %}
    {% block content %}




    <!-- Track Order section -->
    <section class="gi-track py-[40px] max-[767px]:py-[30px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
            <div class="section-title-2 w-full mb-[20px] pb-[20px] flex flex-col justify-center items-center">
                <h2 class="gi-title mb-[0] font-manrope text-[26px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1]">Track<span class="text-[#5caf90]"> Order</span></h2>
                <p class="max-w-[400px] mt-[15px] text-[14px] text-[#777] text-center leading-[23px]">We delivering happiness and needs, Faster than you can think.</p>
            </div>
            <div class="flex flex-wrap w-full">
                <div class="gi-track-box rounded-[5px] w-full">
                    <!-- Details-->
                    <div class="flex flex-wrap w-full">
                        <div class="min-[768px]:w-[33.33%] w-full px-[12px] max-[767px]:mb-[24px]">
                            <div class="gi-track-card h-full p-[30px] flex items-center justify-center flex-col border-[1px] border-solid border-[#e9ecef] rounded-[5px] text-[#777] text-center text-[15px] bg-[#f8f8fb]">
                                <span class="gi-track-title mb-[5px] text-[#4b5966] capitalize text-[16px] font-medium tracking-[0.02rem]">order</span>
                                <span class="text-[#777] text-center text-[15px]">#6152</span>
                            </div>
                        </div>
                        <div class="min-[768px]:w-[33.33%] w-full px-[12px] max-[767px]:mb-[24px]">
                            <div class="gi-track-card h-full p-[30px] flex items-center justify-center flex-col border-[1px] border-solid border-[#e9ecef] rounded-[5px] text-[#777] text-center text-[15px] bg-[#f8f8fb]">
                                <span class="gi-track-title mb-[5px] text-[#4b5966] capitalize text-[16px] font-medium tracking-[0.02rem]">Grasshoppers</span>
                                <span class="text-[#777] text-center text-[15px]">v534hb</span>
                            </div>
                        </div>
                        <div class="min-[768px]:w-[33.33%] w-full px-[12px] max-[767px]:mb-[24px]">
                            <div class="gi-track-card h-full p-[30px] flex items-center justify-center flex-col border-[1px] border-solid border-[#e9ecef] rounded-[5px] text-[#777] text-center text-[15px] bg-[#f8f8fb]">
                                <span class="gi-track-title mb-[5px] text-[#4b5966] capitalize text-[16px] font-medium tracking-[0.02rem]">Expected date</span>
                                <span class="text-[#777] text-center text-[15px]">June 17, 2019</span>
                            </div>
                        </div>
                    </div>
                    <!-- Progress-->
                    <div class="px-[12px]">
                        <div class="gi-steps mt-[24px] border-[1px] border-solid border-[#eee] rounded-[5px]">
                            <div class="gi-steps-body table table-fixed w-full max-[767px]:block max-[767px]:text-[14px]">
                                <div class="gi-step max-[767px]:block max-[767px]:text-[14px] max-[767px]:border-r-[0] max-[767px]:border-b-[1px] gi-step-completed py-[30px] px-[15px] table-cell relative transition-all duration-[0.25s] ease-in-out border-r-[1px] border-solid border-[#e9ecef] text-[#777] font-normal text-center capitalize">
                                    <span class="gi-step-indicator bg-[#5caf90] text-[#fff] leading-[1.25rem] block absolute top-[15px] right-[15px] w-[1.5rem] h-[1.5rem] border-[1px] border-solid border-[#e9ecef] rounded-[50%] text-[0.875rem] font-normal text-center capitalize">
                                        <i class="fa fa-check leading-[23px] text-[0.875rem] text-[#fff]" aria-hidden="true"></i>
                                    </span>
                                    <span class="gi-step-icon block w-[1.5rem] h-[1.5rem] mt-[0] mb-[0.75rem] mx-auto transition-all duration-[0.25s] ease-in-out text-[#999] text-[22px]">
                                        <i class="fi fi-rs-comment-check text-[#999] text-[22px] font-normal text-center capitalize"></i>
                                    </span>
                                    Order<br> confirmed
                                </div>
                                <div class="gi-step max-[767px]:block max-[767px]:text-[14px] max-[767px]:border-r-[0] max-[767px]:border-b-[1px] gi-step-completed py-[30px] px-[15px] table-cell relative transition-all duration-[0.25s] ease-in-out border-r-[1px] border-solid border-[#e9ecef] text-[#777] font-normal text-center capitalize">
                                    <span class="gi-step-indicator bg-[#5caf90] text-[#fff] leading-[1.25rem] block absolute top-[15px] right-[15px] w-[1.5rem] h-[1.5rem] border-[1px] border-solid border-[#e9ecef] rounded-[50%] text-[0.875rem] font-normal text-center capitalize">
                                        <i class="fa fa-check leading-[23px] text-[0.875rem] text-[#fff]" aria-hidden="true"></i>
                                    </span>
                                    <span class="gi-step-icon block w-[1.5rem] h-[1.5rem] mt-[0] mb-[0.75rem] mx-auto transition-all duration-[0.25s] ease-in-out text-[#999] text-[22px]">
                                        <i class="fi fi-rs-settings text-[#999] text-[22px] font-normal text-center capitalize"></i>
                                    </span>
                                    Processing<br> order
                                </div>
                                <div class="gi-step max-[767px]:block max-[767px]:text-[14px] max-[767px]:border-r-[0] max-[767px]:border-b-[1px] gi-step-active py-[30px] px-[15px] table-cell relative transition-all duration-[0.25s] ease-in-out border-r-[1px] border-solid border-[#e9ecef] text-[#777] font-normal text-center capitalize">
                                    <span class="gi-step-icon block w-[1.5rem] h-[1.5rem] mt-[0] mb-[0.75rem] mx-auto transition-all duration-[0.25s] ease-in-out text-[#999] text-[22px]">
                                        <i class="fi fi-rs-gift text-[#999] text-[22px] font-normal text-center capitalize"></i>
                                    </span>Quality<br> check
                                </div>
                                <div class="gi-step max-[767px]:block max-[767px]:text-[14px] max-[767px]:border-r-[0] max-[767px]:border-b-[1px] py-[30px] px-[15px] table-cell relative transition-all duration-[0.25s] ease-in-out border-r-[1px] border-solid border-[#e9ecef] text-[#777] font-normal text-center capitalize">
                                    <span class="gi-step-icon block w-[1.5rem] h-[1.5rem] mt-[0] mb-[0.75rem] mx-auto transition-all duration-[0.25s] ease-in-out text-[#999] text-[22px]">
                                        <i class="fi fi-rs-truck-side text-[#999] text-[22px] font-normal text-center capitalize"></i>
                                    </span>Product<br> dispatched
                                </div>
                                <div class="gi-step max-[767px]:block max-[767px]:text-[14px] max-[767px]:border-r-[0] max-[767px]:border-b-[0] py-[30px] px-[15px] table-cell relative transition-all duration-[0.25s] ease-in-out border-r-[1px] border-solid border-[#e9ecef] text-[#777] font-normal text-center capitalize">
                                    <span class="gi-step-icon block w-[1.5rem] h-[1.5rem] mt-[0] mb-[0.75rem] mx-auto transition-all duration-[0.25s] ease-in-out text-[#999] text-[22px]">
                                        <i class="fi fi-rs-home text-[#999] text-[22px] font-normal text-center capitalize"></i>
                                    </span>Product<br> delivered
                                </div>
                            </div>
                            <div class="gi-steps-header p-[0.375rem] border-t-[1px] border-solid border-[#e9ecef] max-[767px]:hidden">
                                <div class="progress w-full bg-[#e9ecef] rounded-full h-[0.25rem]">
                                    <div class="bg-[#5caf90] h-[0.25rem] rounded-full w-[50%]"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Track Order section End -->

   
  
  
    {% endblock content %}