
{% extends 'store/base.html' %}

{% load static %}
{% block content %}




    <!-- Faq section -->
    <section class="gi-faq py-[40px] max-[767px]:py-[30px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
            <div class="section-title-2 w-full mb-[20px] pb-[20px] flex flex-col justify-center text-center px-[12px] items-center">
                <h2 class="gi-title mb-[0] font-manrope text-[26px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1]">frequently asked <span class="text-[#5caf90]">questions</span></h2>
                <p class="max-w-[400px] mt-[15px] text-[14px] text-[#777] text-center leading-[23px]">Customer service management.</p>
            </div>
            <div class="w-full flex flex-wrap">
                {% for f in faqs %}
                <div class="min-[992px]:w-[50%] w-full px-[12px] max-[991px]:mt-[30px]">
                    <div class="gi-accordion style-1">
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                {{ f.questions }}
                            </h4>
                            <div class="gi-accordion-body show py-[15px] text-[14px] text-[#777] leading-[24px] hidden">{{ f.answer|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Faq section End -->

    {% endblock content %}