{% extends 'store/base.html' %}
{% load static %}
{% block content %}









    <!-- Terms section -->
    <section class="gi-terms-conditions py-[40px] max-[767px]:py-[30px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
            <div class="section-title-2 w-full mb-[20px] pb-[20px] flex flex-col justify-center items-center">
                <h2 class="gi-title mb-[0] font-manrope text-[26px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1]"><span class="text-[#5caf90]">Terms</span> & Condition</h2>
                <p class="max-w-[400px] mt-[15px] text-[14px] text-[#777] text-center leading-[23px]">Browse The Collection of Top Products</p>
            </div>
            <div class="flex flex-wrap w-full">
                {% for t in TermsConditions %}
                    <div class="min-[992px]:w-[50%] w-full px-[12px] mb-[10px]">
                        <div class="gi-common-wrapper p-[30px] border-[1px] border-solid border-[#eee] max-w-[1140px] my-[0] mx-auto bg-[#fff] rounded-[5px]">
                            <div class="w-full">
                                <div class="gi-cgi-block-inner">
                                    <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">{{ t.title }}</h5>
                                    <p class="mb-[30px] text-[#777] text-[14px] font-normal leading-[28px]">{{ t.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Terms section End -->

    
    {% endblock content %}