{% extends "store/base.html" %}
{% block content %}
<section id="reset-password-done" class="my-5">
    <div class="container my-5">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-11 col-md-4 text-center shadow p-5 rounded">
                <div class="py-5">
                    <div class="py-5">
                        <i class="fa-regular fa-circle-check border rounded-circle text-success" style="font-size: 50px;"></i>
                    </div>
                    <h3>Password Change!</h3>
                    <p class="py-5">Your password has been successfully reset. You can now log in with your new password.</p>
                    <p>
                        <a href="{% url 'login' %}">Login</a>  <br>

                        <span>Thank you</span> <br>

                        <span>Kenakata Support Team</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}