{% extends "store/base.html" %}
{% block content %}
<section id="reset-password-done" class="my-5">
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-11 col-md-4 text-center shadow p-5 rounded">
                <div class="py-5">
                    <div class="py-5">
                        <i class="fa-solid fa-envelope-open-text rounded-circle text-success p-3" style="font-size: 30px; border: 3px solid;"></i>
                    </div>
                    <h3>Check Your E-mail</h3>
                    <p class="py-5">Check your email for the password reset link. If it's not in your inbox, check your spam folder.</p>
                    <p>
                        <a href="mailto:{{email}}">Go to Your Email</a><br>
                        <span>Thank you</span><br>
                        <span>kenakata Support Team</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}