{% extends 'store/base.html' %}

{% block content %}
<style>
    .tc_checkbox {
        margin-top: 6px;
        padding-right: 5px;
    }
    .form-check-label {
        padding-left: 7px;
    }
</style>
<div class="section my-5">
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-11 col-md-4 shadow rounded p-5">
                <h3 class="pt-2 text-center">Reset Password</h3>
                <p class="py-5 text-center">Forgot your password? Enter your email below to reset it and regain access.</p>
                <form action="" class="p-2" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email" class="form-label sr-only">E-mail address</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
                    </div>
                    <button type="submit" style="background-color:#ED2224; color:white; font-size: 18px;" class="btn btn-block rounded-pill py-3">Reset Password</button>
                </form>
                <p class="text-muted text-center py-5">
                    Already have a account?<a href="{% url 'login' %}" class="mx-1">Login</a>now.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}